// USER VARIABLES SECTION

$text: #000;
$orange: #d9731f;
$orange--dark: #c26315;
$red: #c8191c;
$gray: #e1e2e2;
$black: #111;

// Max-width
$tablet: 1199px;
$mobile: 767px;
$mobile-sm: 375px;

// FONTS LOAD SECTION
@mixin font($fname, $fstyle, $fweight, $furl) {
  @font-face {
    font-family: $fname;
    font-style: $fstyle;
    font-weight: $fweight;
    src: local($fname), url($furl) format("truetype");
    // font-display: swap; // Uncomment to initially display system fonts
  }
}

@include font("Montserrat", normal, 300, "../fonts/Montserrat-Light.ttf");
@include font("Montserrat", normal, 400, "../fonts/Montserrat-Regular.ttf");
@include font("Montserrat", normal, 500, "../fonts/Montserrat-Medium.ttf");
@include font("Montserrat", normal, 600, "../fonts/Montserrat-SemiBold.ttf");
@include font("Montserrat", normal, 700, "../fonts/Montserrat-Bold.ttf");
@include font("Montserrat", normal, 900, "../fonts/Montserrat-ExtraBold.ttf");

.no-xl {
  display: none;
}

@media (max-width: $tablet) {
  .no-md {
    display: none;
  }

  .md {
    display: inline-block;
  }
}

@media (max-width: $mobile) {
  .no-xs {
    display: none;
  }

  .xs {
    display: inline-block;
  }
}
