body {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: $text;
  position: relative;
  overflow-x: hidden;
  min-width: 320px;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.btn {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  background: $orange;
  color: #fff;
  width: 260px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: all 0.2s linear;
  cursor: pointer;

  &:hover {
    background: $orange--dark;
  }

  &--outline {
    border: 2px solid $orange;
    color: $orange;
    background: transparent;

    &:hover {
      color: #fff;
    }
  }

  &--flex {
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      .btn__icon {
        opacity: 0;
      }
    }
  }
}

.btn__icon {
  margin-left: 10px;
  transition: all 0.2s linear;
}

.button__up {
  width: 45px;
  height: 45px;
  background: $orange;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-shadow: 0px 4px 20px rgba(92, 92, 92, 0.15);
  transition: all 0.2s linear;
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 7%;
  z-index: 7;

  &:hover {
    background: $orange--dark;
  }
}

.section {
  margin-bottom: 60px;
}

.mask {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 9;
}

.fixed {
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
}

.noscroll {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  overflow-y: scroll !important;
  z-index: 10;
}

@media (max-width: $tablet) {
  body {
    font-size: 14px;
    line-height: 17px;
  }

  .logo {
    img {
      width: 140px;
      height: 21px;
    }
  }

  .button__up {
    display: none !important;
  }
}

@media (max-width: $mobile) {
  .section {
    margin-bottom: 40px;
  }

  .logo {
    img {
      width: 120px;
      height: 18.15px;
    }
  }
}
