// Blog
.blog__item {
  width: 370px !important;
  max-width: 370px !important;
  height: 390px;
  transition: all 0.5s linear;
  box-shadow: 0px 4px 10px rgba(92, 92, 92, 0.1);

  &:hover {
    box-shadow: 0px 4px 15px rgba(92, 92, 92, 0.25);

    .news__inner__title {
      color: $orange;
    }
  }

  .news__inner__title {
    color: $text;
    transition: all 0.2s linear;
  }

  .news__inner__link {
    bottom: 25px;
    right: 25px;
  }

  &--special {
    max-width: 100% !important;
    width: 100% !important;
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    height: 310px;

    .blog__img {
      max-width: 369px;
    }

    .blog__content {
      height: 100%;
    }

    .news__description {
      margin-bottom: 15px;
    }
  }

  &--hide {
    display: none;
  }
}

.blog__img {
  max-width: 370px;
  object-fit: scale-down;
  display: block;
}

.blog__content {
  padding: 25px;
  padding-top: 15px;
  position: relative;
  height: 195px;
}

@media (max-width: $tablet) {
  .blog__item {
    width: 353px !important;
    max-width: 353px !important;
    height: 390px;

    .news__inner__title {
      font-weight: 600;
      font-size: 16px;
      line-height: 20px;
    }

    .news__description {
      font-size: 12px;
      line-height: 15px;
    }

    &--special {
      width: 100% !important;
      max-width: 100% !important;
      height: 310px;
    }
  }

  .blog__img {
    max-width: 353px;
  }

  .blog__content {
    padding-right: 19px;
  }
}

@media (max-width: $mobile) {
  .blog__item {
    width: 280px !important;
    max-width: 280px !important;
    height: 330px;

    &--special {
      flex-direction: column;

      .blog__img {
        max-width: 100%;
      }
    }

    &.no-xs {
      display: none;
    }
  }

  .blog__img {
    max-width: 280px;
  }
}
// Blog END
