// Description
.description {
  background: $gray;
  padding-top: 60px;
  padding-bottom: 45px;
}

.description__title {
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  margin-bottom: 20px;
}

.description__text {
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 15px;
}

.description__inner__title {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 15px;
}

.description__list {
  margin-bottom: 10px;
}

.description__item {
  position: relative;
  padding-left: 20px;
  margin-bottom: 15px;

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 5px;
    left: 0;
    border-radius: 50%;
    background: #4f4f4f;
    width: 8px;
    height: 8px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.description__more__wrapper {
  display: none;
}

@media (max-width: $tablet) {
  .description__title {
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    margin-bottom: 19px;
  }

  .description__text {
    font-size: 14px;
    line-height: 17px;
  }

  .description__item {
    font-size: 14px;
    line-height: 17px;
  }
}

@media (max-width: $mobile) {
  .description {
    padding: 40px 0;
  }

  .description__title {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 15px;
  }

  .description__hidden {
    display: none;
  }

  .description__more__wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .description__more {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 12px;
    line-height: 15px;
    color: #828282;

    img {
      margin-left: 10px;
    }
  }
}
// Description END
