// Header
.header {
  background: $black;
  padding: 31px 0;

  .container {
    position: relative;
  }

  &--fixed {
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    right: 0;
    transform: translate3d(0, 0, 0);
    width: 100%;
    z-index: 8;
  }
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.header__burger {
  margin-right: 43px;
  cursor: pointer;
  transition: all 0.2s linear;
  span {
    display: block;
    width: 45px;
    height: 33px;
    background: url("../images/dest/icons/burger.svg") no-repeat center;
    transition: all 0.2s linear;
  }

  &:hover {
    opacity: 0.7;
  }
}

.header__right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.header__btns {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: 51px;
}

.header__btns__item {
  display: block;
  text-decoration: none;
  margin-left: 35px;
  position: relative;

  &:first-child {
    margin-left: 0;
  }

  &:hover {
    .header__btns__icon {
      opacity: 0.7;
    }
  }
}

.header__btns__icon {
  transition: all 0.2s linear;
}

.header__btns__value {
  position: absolute;
  top: -10px;
  right: -17px;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: #fff;
}

@media (max-width: $tablet) {
  .header__burger {
    margin-right: 25px;
    span {
      width: 37px;
      height: 28px;
      background: url("../images/dest/icons/burger--tablet.svg") no-repeat
        center;
    }
  }

  .header__btns__item {
    img {
      max-width: 23px;
      width: 100%;
      min-width: 23px;
    }
  }

  .header__btns {
    margin-left: 25px;
    padding-right: 10px;
  }

  .header__btns__item {
    margin-left: 45px;
  }

  .header__btns__value {
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    right: -15px;
  }
}

@media (max-width: $mobile) {
  .header {
    padding: 21px 0;
  }

  .header__burger {
    margin-right: 30px;
    span {
      height: 22px;
      width: 30px;
      background: url("../images/dest/icons/burger--mobile.svg") no-repeat
        center;
    }

    &--active {
      span {
        background: url("../images/dest/icons/burger__close.svg") no-repeat
          center;
      }
    }
  }

  .header__btns {
    margin-left: 27px;
  }

  .header__btns__item {
    margin-left: 0;
    &:first-child {
      display: none;
    }

    img {
      min-width: 19px;
      max-width: 19px;
    }
  }

  .header__btns__value {
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
    top: -8px;
    right: -10px;
  }
}
// Header END
