// News
.news__head {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.news__title {
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
}

.news__link {
  display: inline-block;
  text-decoration: none;
  font-size: 14px;
  line-height: 17px;
  color: #828282;
  border-bottom: 1px solid #828282;
  transition: all 0.2s linear;

  &:hover {
    border-color: transparent;
  }
}

.news__inner {
  .slick-list {
    overflow-y: visible !important;
    padding-top: 20px !important;
    padding-bottom: 21px !important;
  }

  .slick-track {
    display: flex;
    justify-content: space-between;
  }
}

.news__item {
  padding: 25px;
  padding-top: 30px;
  width: 370px !important;
  min-width: 370px !important;
  max-width: 370px !important;
  height: 210px;
  transition: all 0.5s linear;
  box-shadow: 0px 4px 10px rgba(92, 92, 92, 0.1);

  &:hover {
    box-shadow: 0px 4px 15px rgba(92, 92, 92, 0.25);
  }
}

.news__item__wrapper {
  position: relative;
  height: 100%;
  width: 100%;
}

.news__date {
  display: inline-block;
  font-size: 14px;
  line-height: 17px;
  color: #828282;
  margin-bottom: 15px;
}

.news__inner__title {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: $orange;
  margin-bottom: 10px;
}

.news__description {
  font-size: 12px;
  line-height: 15px;
}

.news__inner__link {
  display: inline-block;
  font-size: 14px;
  line-height: 17px;
  color: #828282;
  border-bottom: 1px solid #828282;
  transition: all 0.2s linear;
  text-decoration: none;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;

  &:hover {
    border-color: transparent;
  }
}

.news__wrapper {
  position: relative;
}

.news__arrow {
  position: absolute;
  top: 50%;
  left: -19px;
  cursor: pointer;
  transform: translate(0, -50%);
  span {
    display: block;
    height: 32px;
    width: 12px;
    background: url("../images/dest/icons/brands__arrow.svg") no-repeat center;
    transition: all 0.2s linear;
  }

  &:hover {
    span {
      background: url("../images/dest/icons/brands__arrow--active.svg")
        no-repeat center;
    }
  }

  &--next {
    transform: translate(0, -50%) rotate(-180deg);
    left: auto;
    right: -19px;
  }
}

.news__nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.news__nav__item {
  display: inline-block;
  background: #c4c4c4;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 0 8px;
  cursor: pointer;
  transition: all 0.3s linear;

  &:hover,
  &.slick-active.slick-current {
    background: $orange;
  }
}

.news__inner__wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}

.news__inner__left {
  max-width: 770px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;

  .blog__item {
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.news__inner__right {
  max-width: 370px;
  width: 100%;
  position: sticky;
  top: 5vh;
  z-index: 2;
  .news__item {
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .news__item {
    background: #fff;
  }
}

.news__inner__bot {
  width: 100%;
  margin-top: 10px;
}

.news__inner__btn {
  width: 100%;
  height: 44px;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

.news__detail__info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 30px;
}

.news__detail__name {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #4f4f4f;
}

.news__detail__circle {
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #828282;
  margin: 0 7px;
}

.news__detail__date {
  font-size: 14px;
  line-height: 17px;
  color: #828282;
}

.news__detail__slider {
  position: relative;
}

.news__detail__slides {
  picture {
    width: 100% !important;
    max-width: 1170px !important;
    min-width: 1170px !important;
  }
}

.news__detail__img {
  display: block;
  width: 100% !important;
  max-width: 1170px !important;
}

.news__detail__nav {
  position: absolute;
  right: 0;
  bottom: -55px;
}

.news__detail__nav__wrapper {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.news__detail__nav__btn {
  cursor: pointer;
  span {
    display: inline-block;
    width: 12px;
    height: 31px;
    background: url("../../images/dest/icons/news__detail__arrow.svg") no-repeat
      center;
    transition: all 0.2s linear;
  }

  &:hover {
    span {
      background: url("../../images/dest/icons/news__detail__arrow--hover.svg")
        no-repeat center;
    }
  }

  &--next {
    span {
      background: url("../../images/dest/icons/news__detail__arrow__next.svg")
        no-repeat center;
    }

    &:hover {
      span {
        background: url("../../images/dest/icons/news__detail__arrow__next--hover.svg")
          no-repeat center;
      }
    }
  }
}

.news__detail__count {
  width: 65px;
  height: 97px;
  background: #ffffff;
  box-shadow: 0px 4px 20px rgba(92, 92, 92, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px;
  margin-top: 0;
}

.news__detail__count__number {
  font-size: 18px;
  line-height: 22px;
  color: #828282;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.news__detail__count__list {
  margin-right: 3px;
  .slick-track {
    width: 20px;
  }
}

.news__detail__count__current {
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
  color: #d9731f;
  display: none !important;
  margin-bottom: -5px;

  &.slick-current.slick-active {
    display: block !important;
  }
}

.news__detail__text {
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  margin-bottom: 30px;
}

.news__detail__description {
  padding-bottom: 60px;
}

.news__detail__description__section {
  padding-top: 40px;
}

.news__detail__description__title {
  font-weight: 600;
  font-size: 28px;
  line-height: 34px;
  color: #000000;
  margin-bottom: 30px;
}

.news__detail__text__list {
  .news__detail__text {
    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

@media (max-width: $tablet) {
  .news__title {
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
  }

  .news__arrow {
    display: none;
  }

  .news__item {
    width: 353px !important;
    height: 210px;
    min-width: 353px !important;
    max-width: 353px !important;
  }

  .news__inner__title {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
  }

  .news__description {
    font-size: 14px;
    line-height: 17px;
  }

  .news__inner__wrapper {
    flex-direction: column;
  }

  .news__inner__left {
    max-width: 100%;
    order: 1;
    justify-content: center;
    gap: 20px;

    .blog__item {
      margin-bottom: 0;
    }
  }

  .news__inner__right {
    max-width: 100%;
    order: 3;
    margin-top: 60px;
    position: static;
  }

  .news__inner__right__wrapper {
    .slick-list {
      overflow-y: visible !important;
      padding-top: 20px !important;
      padding-bottom: 0px !important;
    }

    .slick-track {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
    }
  }

  .news__inner__bot {
    order: 2;
    margin-top: 30px;
  }

  .news__inner__nav {
    display: block;
  }

  .news__detail__info {
    margin-bottom: 20px;
  }

  .news__detail__text {
    margin-bottom: 20px;
  }

  .news__detail__slider {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .news__detail__slides {
    max-width: 738px;
    picture {
      width: 100% !important;
      max-width: 738px !important;
      min-width: 738px !important;
    }

    .slick-track {
      display: flex;
    }
  }

  .news__detail__img {
    max-width: 738px !important;
    min-width: 738px !important;
  }
}

@media (max-width: $mobile) {
  .news {
    display: flex;
    align-items: center;
    justify-content: center;
    &--blog {
      padding-top: 40px;
      border-top: 1px solid #e0e0e0;
    }

    .container {
      max-width: 320px;
    }
  }

  .news__title {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
  }

  .news__link {
    font-size: 12px;
    line-height: 15px;
  }

  .news__item {
    width: 280px !important;
    height: 163px;
    min-width: 280px !important;
    max-width: 280px !important;
    padding: 20px 22px;
  }

  .news__date {
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 7px;
  }

  .news__inner__title {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 4px;
  }

  .news__description {
    font-size: 13px;
    line-height: 16px;
  }

  .news__inner__link {
    font-size: 12px;
    line-height: 15px;
  }

  .news__inner__left {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    .blog__item {
      height: auto;

      .news__inner__title {
        font-weight: 600;
        font-size: 15px;
        line-height: 18px;
        margin-bottom: 12px;
      }

      .news__description {
        font-size: 13px;
        line-height: 16px;
      }
    }

    .blog__content {
      padding: 15px 20px 25px 20px;
    }
  }

  .news__inner__right {
    margin-top: 20px;
  }

  .news__detail__text {
    font-size: 16px;
    line-height: 20px;
  }

  .news__detail__slides {
    max-width: 290px;
    picture {
      width: 100% !important;
      max-width: 290px !important;
      min-width: 290px !important;
    }
  }

  .news__detail__img {
    max-width: 290px !important;
    min-width: 290px !important;
  }

  .news__detail__nav {
    position: static;
    margin-top: 10px;
  }

  .news__detail__nav__wrapper {
    align-items: center;
  }

  .news__detail__count__list {
    margin-right: 0;
  }

  .news__detail__count {
    height: auto;
    background: none;
    box-shadow: none;
    margin: 0 40px;
  }

  .news__detail__count__number {
    font-size: 14px;
    line-height: 17px;
  }

  .news__detail__count__current {
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
  }

  .news__detail__description {
    padding-bottom: 40px;
  }

  .news__detail__description__title {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 20px;
  }

  .news__detail__text__list {
    .news__detail__text {
      margin-bottom: 10px;
    }
  }
}
// News END
