// Social
.social {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.social__item {
  display: inline-block;
  text-decoration: none;
  margin-right: 30px;
  transition: all 0.5s linear;

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    transform: translateY(-5px);
  }
}

@media (max-width: $tablet) {
}

@media (max-width: $mobile) {
  .social {
    justify-content: space-between;
    width: 100%;
    &--menu {
      margin-top: 45px;
      justify-content: space-between;

      .social__item {
        margin-right: 0;
      }
    }

    &--footer {
      .social__item {
        .social__icon {
          max-width: 35px;
        }
      }
    }
  }

  .social__item {
    margin-right: 0;
  }
}
// Social END
