.subscription {
  background: $orange;
  padding: 41px 0;
}

.subscription__title {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 16px;
}

.subscription__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.subscription__input__item {
  max-width: 548px;
  width: 100%;
}

.subscription__form {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.subscription__btn {
  height: 40px;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
}

.subscription__text {
  max-width: 584px;
  width: 100%;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #ffffff;
}

@media (max-width: $tablet) {
  .subscription {
    .container {
      max-width: 577px;
    }
  }

  .subscription__wrapper {
    flex-direction: column;
    align-items: flex-start;
  }

  .subscription__input__item {
    max-width: 100%;
    margin-bottom: 10px;
  }
}

@media (max-width: $mobile) {
  .subscription {
    padding: 30px 0;
    .container {
      max-width: 100%;
    }
  }

  .subscription__title {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    margin-bottom: 20px;
  }

  .subscription__form {
    flex-direction: column;
  }

  .subscription__input {
    margin-bottom: 20px;
  }

  .subscription__btn {
    width: 100%;
  }
}
